/*====================== ГЛАВНАЯ СТРАНИЦА САЙТА ===============================*/
body {
  margin: 0;
  color: #000000;
  background-color: #ffffff;
}

a,
ins {
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

/*====================== visually-hidden ================================*/
.visually-hidden:not(:focus),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;
  white-space: nowrap;

  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*====================== хэдер =========================================*/
.main-header {
  padding-bottom: 60px;

  font-family: "Cuprum", "Tahoma", sans-serif;

  background-color: #f3f7f9;
}

.main-header a {
  color: #ffffff;
}

.header-top {
  font-size: 17px;
  color: #ffffff;

  background-color: #293449;
}

.header-top .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.search {
  position: relative;

  width: 90px;
  margin-right: auto;
}

.search-logo {
  position: absolute;
  top: 11px;
  left: 17px;
  z-index: 2;

  display: block;
  width: 18px;
  height: 18px;
  margin: 0;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -98px -37px;
}

.search-site {
  position: relative;

  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 49px;

  background-color: #293449;
  border: none;
}

.service-button {
  position: relative;

  display: inline-block;
  width: 150px;
  padding-top: 10px;
  padding-bottom: 11px;

  vertical-align: middle;

  background-color: #293449;
}

.service-button::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 17px;
  z-index: 2;

  width: 16px;
  height: 16px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: 0 -107px;
  opacity: 0.3;
}

.button-bookmarks {
  padding-left: 44px;
}

.button-basket {
  padding-left: 49px;
}

.button-basket::before {
  background-position: -136px -7px;
}

.service-button:hover,
.search-site:hover {
  background-color: #212a3a;
}

.service-button:active {
  background-color: #161d29;
  opacity: 0.6;
}

.service-button:hover::before {
  opacity: 1;
}

.search-site:focus {
  background-color: #ffffff;
}

.search-site:hover ~ span.search-logo {
  background-position: -2px -37px;
}

.search-site:focus ~ span.search-logo {
  background-position: -66px -37px;
}

.search-site::-webkit-input-placeholder {
  color: #ffffff;
}

.header-logo {
  width: 220px;
  height: 42px;
  padding: 13px 55px 16px 55px;

  background-color: #ee3643;
  -webkit-box-shadow: 0 5px 0 #b52933;
          box-shadow: 0 5px 0 #b52933;
}


.header-logo:hover {
  background-color: #ca2c37;
}

.header-logo:active {
  background-color: #ba2732;
  -webkit-box-shadow: 0 5px 0 #8e1e26;
          box-shadow: 0 5px 0 #8e1e26;
}

.button-order-link {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 22px;

  text-align: center;
  vertical-align: middle;

  background-color: #63a63e;
}

.button-order-link:hover {
  background-color: #5fbb2d;
}

.button-order-link:active {
  background-color: #518534;
  opacity: 0.5;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 158px;
  padding-top: 46px;
}

.header-info {
  width: 200px;
  margin: 0;
  margin-top: 3px;
  margin-left: 52px;

  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-weight: 400;
}

.shop-contacts {
  position: relative;

  margin-left: 70px;
}

.shop-contacts a {
  display: block;
  width: 270px;
  padding-top: 9px;
  padding-bottom: 7px;
  padding-left: 70px;

  font-size: 21px;
  font-weight: 400;
  color: #ee3643;

  border: 3px solid #ffffff;
}

.shop-contacts::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 15px;
  z-index: 2;

  width: 19px;
  height: 19px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -88px -107px;
}

.shop-contacts address {
  width: 270px;
  margin-top: 3px;
  padding-left: 7px;

  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation,
.site-navigation,
.logged-navigation,
.promotions ul,
.list-sliders,
.list-services,
.social {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 55px;
}

.user-navigation li {
  display: inline-block;
  margin-left: 10px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 25px;
  padding-right: 24px;

  font-size: 21px;
  text-align: center;
  vertical-align: middle;

  background-color: #ffffff;
}

li.checkin {
  position: relative;

  padding-left: 50px;
}

.checkin a::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 16px;

  width: 20px;
  height: 17px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -119px -75px;
}

.user-navigation a {
  color: #000000;
}

.site-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;

  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
  -webkit-box-shadow: inset 0 -5px 0 #293449;
          box-shadow: inset 0 -5px 0 #293449;
}

.site-navigation a {
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 24px;
  padding-left: 30px;
  padding-right: 32px;

  vertical-align: middle;
}

.user-navigation a:hover {
  color: #ee3643;
}

.user-navigation a:hover::before {
  background-position: -84px -75px;
}

.user-navigation a:active {
  opacity: 0.3;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  background-color: #293449;
  opacity: 0.5;
}

/*====================== main ============================================*/
.promotions {
  margin: 58px 0;
  margin-bottom: 53px;
}

.flex-promotions {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-two {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.promotions-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0;
}

.promotions-list li:last-child {
  margin-bottom: 0;
}

.promotions-items {
  position: relative;

  width: 300px;
  height: 123px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-left: 20px;

  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
}

.flex-two .promotions-items {
  margin-right: 0;
}


.promotions-items a {
  display: block;
  width: 135px;
  margin-top: 13px;
  margin-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  background-color: rgba(0, 0, 0, 0.1);
}

.promotions-items p {
  display: block;
  margin: 0;
  margin-top: 20px;
  margin-left: 5px;
}

.promotions-items p::before {
  content: "";

  position: absolute;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.materials p::before {
  top: 31px;
  right: 43px;

  width: 44px;
  height: 65px;

  background-position: -241px -138px;
}

.tools p::before {
  top: 33px;
  right: 28px;

  width: 75px;
  height: 61px;

  background-position: 0 -225px;
}

.building p::before {
  top: 31px;
  right: 31px;

  width: 78px;
  height: 62px;

  background-position: -90px -225px;
}

.offer p::before {
  top: 26px;
  right: 45px;

  width: 59px;
  height: 72px;

  background-position: -74px -138px;
}

.delivery p::before {
  top: 32px;
  right: 31px;

  width: 78px;
  height: 63px;

  background-position: -148px -138px;
}

.promotions-items a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.promotions-items a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

/* ---------------------------------- слайдер----------------------------------------*/
.slider-container {
  position: relative;
}

.sliders-item {
  width: 620px;
  height: 266px;
  padding-top: 24px;
  padding-bottom: 22px;
  padding-left: 24px;

  font-family: "Cuprum", "Tahoma", sans-serif;
  color: #ffffff;

  background-color: #241613;
}

.sliders-item h3 {
  margin: 0;

  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.sliders-item p {
  margin: 0;

  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.slide-button {
  display: inline-block;
  width: 195px;
  margin-top: 122px;

  text-align: center;
  vertical-align: middle;
}

.slider-controls {
  position: absolute;
  top: 220px;
  left: 295px;
  z-index: 2;

  font-size: 0;
}

.slider-controls .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;

  vertical-align: top;

  background-color: #ffffff;
  border: 2px solid #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;

  cursor: pointer;
}

.slider-controls .pointer {
  position: absolute;
  z-index: 2;

  display: inline-block;
  width: 22px;
  height: 40px;

  font-size: 0;
  vertical-align: middle;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;

  cursor: pointer;
}

.slider-controls .pointer-1 {
  top: -106px;
  left: -270px;

  background-position: 0 -138px;
}

.pointer-2 {
  top: -106px;
  left: 283px;

  background-position: -37px -138px;
}

.slide {
  display: none;
}

#product-1:checked ~ .list-sliders #slide-1,
#product-2:checked ~ .list-sliders #slide-2,
#pointer-1:checked ~ .list-sliders #slide-1,
#pointer-2:checked ~ .list-sliders #slide-2 {
  display: block;
}

#product-1:checked ~ .slider-controls label[for="product-1"],
#product-2:checked ~ .slider-controls label[for="product-2"] {
  background-color: #ee3643;
}

#pointer-1:checked ~ .slider-controls label[for="product-1"],
#pointer-2:checked ~ .slider-controls label[for="product-2"] {
  background-color: #ee3643;
}

#product-1:checked ~ .list-sliders .sliders-item,
#pointer-1:checked ~ .list-sliders .sliders-item {
  background-image: url("../img/slider-1.jpg");
}

#product-2:checked ~ .list-sliders .sliders-item,
#pointer-2:checked ~ .list-sliders .sliders-item {
  background-image: url("../img/slider-2.jpg");
}

/* ----------------------------------------------------------------------------------*/

.materials {
  background-color: #ffbf47;
}

.tools {
  background-color: #3bbce3;
}

.building {
  background-color: #dc91d8;
}

.offer {
  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047;
}

/* популярные товары и производители*/
.populars-headline {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 89px;
  margin-bottom: 20px;
  padding-right: 24px;

  font-family: "Cuprum", "Tahoma", sans-serif;

  background-color: #f9f5f0;
}

.populars-headline h2 {
  margin: 0;
  margin-left: 29px;

  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.button {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 8px;

  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
  -webkit-border-radius: 2px;
          border-radius: 2px;
}

.button-populars {
  width: 253px;
}

.button:hover:not([type="submit"]) {
  background-color: #ca2c37;
}

.button:active:not([type="submit"]) {
  background-color: #ba2732;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  width: 218px;
  height: 170px;
  padding-top: 44px;

  background-color: #ffffff;
}

.items-button {
  display: block;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: "Cuprum", "Tahoma", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  border: none;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.buy {
  position: relative;

  color: #ffffff;

  background-color: #63a63e;
  -webkit-box-shadow: inset 0 -3px 0 #367315;
          box-shadow: inset 0 -3px 0 #367315;
}

.buy::before {
  content: "";

  position: absolute;
  left: 12px;

  width: 15px;
  height: 15px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -136px -7px;
  opacity: 0.3;
}


.pack {
  color: #32425c;

  -webkit-box-shadow: inset 0px 0px 0px 3px #63a63e;

          box-shadow: inset 0px 0px 0px 3px #63a63e;
  background-color: #ffffff;
}

.buy:hover {
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #518534;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.buy:hover::before,
.buy:active::before {
  opacity: 1;
}

.pack:hover {
  -webkit-box-shadow: inset 0px 0px 0px 3px #32425c;
          box-shadow: inset 0px 0px 0px 3px #32425c;
}

.pack:active {
  opacity: 0.3;
}

.popular-items-products:hover,
.catalog-item:hover {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.popular-items-products:hover .actions,
.catalog-item:hover .actions {
  display: block;
}

.popular-items-list,
.populars-brands-list,
.catalog-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0;
  margin: 0;

  font-family: "PT Sans", "Tahoma", sans-serif;
  list-style: none;

  background-color: #ffffff;
}

.populars-brands-list {
  margin-bottom: 85px;
}

.popular-items-products,
.catalog-item {
  position: relative;

  display: -webkit-box;

  display: -webkit-flex;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 20px;

  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.popular-items-products img,
.catalog-item img {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
      -ms-flex-order: -1;
          order: -1;
}

.flag-new {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  width: 60px;
  height: 60px;

  text-indent: -150px;

  background: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -183px -225px;
  overflow: hidden;
}

.popular-items-products:nth-of-type(4n) {
  margin-right: 0;
}

.popular-items-products h3,
.catalog-item h3 {
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
              -ms-grid-row-align: stretch;
          align-self: stretch;
  margin: 0;
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 20px;

  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  color: #000000;
}

.popular-items-products del,
.catalog-item del {
  display: inline-block;
  min-height: 18px;
  margin: 0;
  margin-top: 12px;

  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #a9a9a9;
}

.popular-items-products ins,
.catalog-item ins {
  position: relative;

  display: block;
  width: 123px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 13px;

  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.catalog-item ins::after,
.popular-items-products ins::after {
  content: "";

  position: absolute;
  top: 0;
  right: -37px;

  border: 19px solid white;
  border-left-color: #ee3643;
}

.populars-brands-one {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;

  width: 220px;
  height: 145px;
  margin-right: 20px;
  margin-bottom: 20px;

  background-color: #ffffff;
  border: 1px solid #eaeaea;
}

.populars-brands-one:nth-of-type(4n) {
  margin-right: 0;
}

.populars-brands-one:nth-of-type(n + 4) {
  margin-bottom: 0;
}

.populars-brands-one:hover {
  -webkit-box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
          box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.populars-brands-one:active {
  -webkit-box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
          box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.services {
  padding-top: 66px;
  padding-bottom: 75px;

  font-family: "PT Sans", "Tahoma", sans-serif;

  background-color: #f4f8fa;
}

/*--------------------  Блок «Сервисы»: слайдер -----------------------------*/
.services .slider-container {
  margin-top: 66px;
  min-height: 213px;
}

.slider-sides {
  position: absolute;
  top: 3px;
  left: 0;
  z-index: 2;

  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  color: #ffffff;
}

.slider-sides::after {
  content: "";

  position: absolute;
  top: -34px;
  right: 0;
  z-index: 3;

  width: 10px;
  height: 279px;

  background-image: url("../img/slider-strip.png");
  background-repeat: no-repeat;
}

.slider-sides label {
  display: block;
  width: 240px;
  height: 61px;
  padding-left: 21px;
  padding-top: 14px;

  background-color: #32425c;
  -webkit-box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
          box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;

  cursor: pointer;
}

.list-services {
  position: relative;

  margin-left: 320px;
}

.service-one {
  display: none;
  width: 380px;
}

.service-one h3 {
  margin: 0;

  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}

.service-one p {
  position: relative;
  z-index: 2;

  display: inline-block;

  vertical-align: middle;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.page-1 p {
  width: 275px;
}

.page-2 p {
  width: 379px;
}

.page-3 p {
  width: 279px;
}

.page-3 a {
  margin-top: 35px;
  padding-left: 44px;
  padding-right: 44px;
}

.service-one::after {
  content: "";

  position: absolute;
  top: 28px;
  right: 0;
  z-index: 1;

  background-repeat: no-repeat;
}

.page-1::after {
  width: 468px;
  height: 261px;

  background-image: url("../img/delivery.png");
}

.page-2::after {
  top: 0;

  width: 389px;
  height: 283px;

  background-image: url("../img/garanty.png");
}

.page-3::after {
  top: 0;

  width: 465px;
  height: 285px;

  background-image: url("../img/credit.png");
}


#tab-1:checked ~ .list-services .page-1,
#tab-2:checked ~ .list-services .page-2,
#tab-3:checked ~ .list-services .page-3 {
  display: block;
}

#tab-1:checked ~ .slider-sides label[for="tab-1"],
#tab-2:checked ~ .slider-sides label[for="tab-2"],
#tab-3:checked ~ .slider-sides label[for="tab-3"] {
  color: #32425c;

  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
          box-shadow: 0 1px 0 #293449, inset 0 1px 0 #405069;
}

#tab-1:hover ~ .slider-sides label[for="tab-1"],
#tab-2:hover ~ .slider-sides label[for="tab-2"],
#tab-3:hover ~ .slider-sides label[for="tab-3"] {
  background-color: #293449;
}


/*----------------------------------------------------------------------------*/

/*заголовки и главной страницы, и каталога*/
.services h2,
.main-info h2,
.main-contacts h2,
.catalog-headline {
  margin: 0;

  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.services p,
.about-perforators p {
  margin: 0;
  padding: 0;
  margin-top: 23px;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  color: #000000;
}

.services-text {
  width: 410px;
}

/* main-info */
.contacts-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 70px;
}

.main-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 540px;
}

.main-info p,
.main-contacts p {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
}

.main-info p,
.main-contacts p {
  margin-top: 24px;
}

.main-info a {
  width: 220px;
}

.main-info .info-promo {
  width: 390px;
  margin-top: 11px;
}

.main-companies {
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  padding-left: 35px;

  list-style: none;
}

.main-companies li {
  position: relative;

  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-weight: 400;
  line-height: 39px;
}

.main-companies li::after {
  content: "";

  position: absolute;
  top: 19px;
  left: -35px;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.main-contacts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-contacts p {
  display: inline-block;
  width: 200px;

  vertical-align: middle;
}

.main-contacts > a {
  margin-top: 19px;
  margin-bottom: 17px;
}


/*====================== футер ==========================================*/
.main-footer {
  font-family: "Cuprum", "Tahoma", sans-serif;

  background-color: #32425c;
}

.footer-logo {
  display: inline-block;
  width: 220px;
  height: 68px;
  margin-right: 20px;
  padding: 20px 41px 25px 41px;

  vertical-align: middle;

  background-color: #ee3643;
  -webkit-box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
          box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 21px;
}

.footer-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 28px;
}

.footer-navigation-list,
.footer-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 700px;
  margin: 0;
  padding: 0;

  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

  list-style: none;
}

.footer-links {
  width: 590px;
}

.footer-navigation-list li,
.footer-links li {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  margin-left: 59px;
  margin-bottom: 5px;
}

.footer-links li {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

.footer-navigation-list a {
  color: #f3f7f9;
}

.footer-address {
  padding-left: 2px;

  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-address a {
  color: inherit;
}

.footer-address address {
  width: 330px;

  font-style: normal;
}

.footer-links {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.footer-links a {
  color: #ffd180;
}

.footer-navigation-list a:hover,
.footer-links a:hover,
.feedback a:hover {
  text-decoration: underline;
}

.footer-navigation-list a:active,
.footer-links a:active {
  text-decoration: none;

  opacity: 0.5;
}

.feedback a:active {
  text-decoration: none;
  color: #ee3643;
}

.footer-bottom {
  background-color: #293449;
}

.footer-bottom .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 15px;
}

.copyrighting {
  width: 240px;
  margin-right: auto;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 7px;
  margin-right: 79px;
}

.social-button {
  display: inline-block;
  width: 41px;
  height: 42px;
  margin-left: 4px;

  vertical-align: middle;

  background-color: #212a3a;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.vk {
  background-position: -57px 13px;
}

.fb {
  background-position: -23px 10px;
}

.ig {
  background-position: 10px 10px;
}

.social-button:hover {
  background-color: #ee3643;
}

.feedback {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40px;
  padding-right: 13px;
}

.feedback span {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #ffffff;
}

.feedback a {
  color: #ffd180;
}

/*====================== КАТАЛОГ =================================================*/
/*====================== хэдер ===================================================*/
.service-button.current-full {
  background-color: #ee3643;
}

.user-logged {
  position: relative;

  display: -webkit-box;

  display: -webkit-flex;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0;
  margin-left: auto;
}

.logged-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  margin-left: 17px;
}

a.logged-name {
  position: relative;

  padding-left: 47px;
  padding-right: 67px;

  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 2.1;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #000000;

  background-color: #ffffff;
}

.logged-name::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 14px;

  width: 20px;
  height: 18px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -261px -77px;
}

.logout {
  position: absolute;
  top: 5px;
  right: 0;

  width: 35px;
  height: 35px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -187px -67px;
}

.logged-navigation a {
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: underline;
  color: #32425c;
}

.my-office {
  position: relative;

  margin-left: 34px;
}

.my-office::before {
  content: "";

  position: absolute;
  top: 8px;
  left: -18px;

  display: block;
  width: 4px;
  height: 4px;

  background-color: #32425c;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

.logged-navigation a:hover {
  color: #ee3643;
}

.logged-name:hover::before {
  background-position: -226px -77px;
}

.logout:hover {
  background-position: -152px -67px;
}

.logout:active {
  background-position: -187px -67px;
}

.logged-navigation a:active,
.logged-name:active {
  color: #32425c;

  opacity: 0.3;
}

.my-office:active::before {
  opacity: 0.9;
}


/*====================== main ====================================================*/
.breadcrumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0;
  margin-top: 19px;
  margin-bottom: 19px;
  padding: 0;

  list-style: none;
}

.breadcrumbs li:first-of-type {
  width: 14px;
  height: 12px;
  margin-top: 3px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -121px -107px;
  overflow: hidden;
}

.breadcrumbs .home {
  color: transparent;
}

.breadcrumbs li {
  position: relative;

  margin-right: 41px;

  cursor: pointer;
}

.breadcrumbs li::after {
  content: "";

  position: absolute;
  top: 3px;
  left: -26px;

  width: 8px;
  height: 12px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -306px -108px;
}

.breadcrumbs a {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-headline {
  width: 940px;
  height: 89px;
  margin-bottom: 20px;
  padding-top: 32px;
  padding-left: 30px;

  color: #32425c;

  background-color: #f2f6f8;
}

.sorting-flex,
.catalog-flex,
.catalog-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.filtres {
  width: 220px;
  margin-right: 20px;
}

.sorting {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-bottom: 20px;

  background-color: #f7f3ec;
}

.sorting-flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 700px;
}

.filters-list,
.catalog-list,
.sorting-list,
.growth-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 72px;
}

.growth-list {
  margin-top: 11px;
  margin-left: auto;
  margin-right: 18px;
}

.growth-list li {
  display: inline-block;
  width: 11px;
  height: 10px;
  margin-left: 16px;

  vertical-align: middle;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;

  cursor: pointer;
}

.sorting-up {
  background-position: -280px -107px;
}

.sorting-down {
  background-position: -254px -107px;
}

.sorting-up.current {
  background-position: -228px -107px;
}

.sorting-down.current {
  background-position: -202px -107px;
}

.sorting-up:hover {
  background-position: -176px -107px;
}

.sorting-down:hover {
  background-position: -150px -107px;
}

.sorting-up:active {
  background-position: -228px -107px;
}

.sorting-down:active {
  background-position: -202px -107px;
}

.sorting-options {
  margin-left: 68px;
}


.filtres fieldset {
  padding: 0;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 56px;

  border: none;

  list-style: none;
}

.filtres fieldset:first-of-type {
  margin-bottom: 20px;

  border-bottom: 1px solid #e5e5e5;
}

.filtres legend,
.filtres p {
  margin: 0;
  margin-bottom: 14px;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";

  position: absolute;
  top: -1px;
  left: -35px;

  width: 26px;
  height: 23px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -231px 0px;
}

.filter-input-checkbox:checked + label::before {
  background-position: -42px -69px;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  top: -3px;
  left: -36px;

  width: 25px;
  height: 25px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -170px -37px;
}

.filter-input-radio:checked + label::before {
  background-position: -250px -37px;
}

.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:focus + label::before {
  background-position: -307px 0;
}

.filter-input-checkbox:checked:hover + label::before,
.filter-input-checkbox:checked:focus + label::before  {
  background-position: -296px -72px;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before {
  background-position: -131px -37px;
}

.filter-input-radio:checked:hover + label::before,
.filter-input-radio:checked:focus + label::before {
  background-position: -210px -37px;
}

.filter-input:disabled + label {
  opacity: 0.5;
}

.filter-button {
  padding-left: 39px;
  padding-right: 39px;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;

  cursor: pointer;
}

.filtres h2,
.sorting span {
  margin: 0;
  padding: 0;
  padding-top: 11px;
  padding-left: 19px;
  padding-bottom: 10px;

  background-color: #f7f3ec;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.filtres h2 {
  margin-bottom: 11px;
}

/*  сложный фильтр  */
.filter-range {
  padding-bottom: 26px;

  border-bottom: 1px solid #e5e5e5;
}

.price-controls {
  position: relative;

  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

.price-controls label {
  display: inline-block;
  padding: 0;

  vertical-align: middle;
}

.price-controls input {
  margin: 0;
  width: 95px;
  height: 38px;

  color: inherit;
  font: inherit;
  text-align: center;


  background-color: #f7f3ec;
  border: none;
}

.min-price input {
  margin-right: 25px;
}

.price-controls::after {
  content: "—";

  position: absolute;
  top: 10px;
  left: 105px;
}

.range-controls {
  position: relative;

  width: 220px;
  height: 80px;
  margin-bottom: 8px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #f7f3ec;
}

.range-controls .scale {
  height: 2px;

  background-color: #d7dcde;
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background-color: #00ca74;
}

.range-toggle {
  position: absolute;
  top: 30px;

  width: 4px;
  height: 4px;

  background: #ababab;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  border: 8px solid #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.1);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.1);

  cursor: pointer;
}

.range-toggle-min {
  left: 20px;
}

.range-toggle-max {
  left: 160px;
}

/*        ---       */

.sorting-button {
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dashed #ee3643;
}

.sorting-button.current {
  color: #ee3643;
}

.sorting-button:hover {
  color: #000000;

  border-bottom: 1px solid #ee3643;
}

.sorting-button:active {
  color: #ee3643;

  border: none;
}

.catalog {
  font-family: "PT Sans", "Tahoma", sans-serif;
}

.catalog-list {
  margin-bottom: 31px;
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}


.pagination-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 58px;

}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 10px 15px;

  font-family: "PT Sans", "Tahoma", sans-serif;
  color: #000000;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

.next a,
.previous a {
  padding: 10px 30px;

  text-transform: uppercase;
}

.pagination-item-current a {
  color: #ffffff;

  background-color: #ee3643;
}

.pagination-item a:hover,
.filter-button:hover {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active,
.filter-button:active {
  border: 1px solid #ee3643;
}

.about-perforators {
  padding-top: 67px;
  padding-bottom: 67px;

  background-color: #f2f6f8;
}

.about-perforators h2 {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}


/* ---модалки--- */
.modal {
  position: fixed;
  z-index: 5;

  display: none;

  color: #000000;

  background-color: #ffffff;
  -webkit-box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
          box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-writeus {
  top: 30px;
  left: 50%;

  width: 620px;
  height: 430px;
  margin-left: -310px;

  -webkit-box-shadow: inset 0 7px 0 #ff5357,
    0px 20px 40px 0 rgba(0, 0, 0, 0.75);

          box-shadow: inset 0 7px 0 #ff5357,
    0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.writeus-form {
  padding-top: 33px;

  background-color: #ffffff;
  -webkit-box-shadow: inset 0 7px 0 #ff5357;
          box-shadow: inset 0 7px 0 #ff5357;
}

.form-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-left: 80px;
  padding-right: 80px;
}

.writeus-form label {
  margin-top: 20px;
  margin-bottom: 8px;

  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #000000;
}

.writeus-form p {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  padding: 0;
}

.writeus-form input,
.writeus-form textarea {
  font-family: "PT Sans", "Tahoma", sans-serif;

  border: solid 2px #dee3e4;
}

.form-container input {
  width: 220px;
  margin-right: 20px;
  padding-top: 7px;
  padding-bottom: 9px;
  padding-left: 15px;
}

.writeus-form input::-webkit-input-placeholder,
.writeus-form textarea::-webkit-input-placeholder {
  font-size: 13px;
  font-weight: 400;
  color: #a9a9a9;
}

.writeus-form input:hover,
.writeus-form textarea:hover {
  border: 2px solid #b5b5b5;
}

.writeus-form input:focus,
.writeus-form textarea:focus {
  border: 2px solid #ee3643;
}

.writeus-form textarea {
  margin-bottom: 37px;
  padding-top: 8px;
  padding-left: 15px;
}

p.form-textarea {
  margin-left: 80px;
  margin-right: 80px;
}

.modal-mail input {
  margin-right: 0;
}

.button-container {
  width: 100%;
  padding: 37px 80px;

  background-color: #f4f4f4;
}

.button-container button {
  width: 100%;
}

.button {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 8px;

  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ee3643;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: none;

  cursor: pointer;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

.modal-map {
  top: 50%;
  left: 50%;

  width: 940px;
  height: 447px;
  margin-top: -280px;
  margin-left: -470px;
}

.modal-map iframe {
  position: relative;
  z-index: 3;

  border: none;
}

.modal-map img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.modal-basket {
  position: fixed;
  top: 50%;
  left: 50%;

  width: 620px;
  height: 282px;
  margin-top: -280px;
  margin-left: -310px;

  -webkit-box-shadow: inset 0 7px 0 #ff5357,
    0px 20px 40px 0 rgba(0, 0, 0, 0.75);

          box-shadow: inset 0 7px 0 #ff5357,
    0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-basket h2 {
  position: relative;

  display: inline-block;
  width: 100%;
  height: 171px;
  margin: 0;
  padding: 0;
  padding-top: 70px;
  padding-left: 177px;

  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 30px;
  font-weight: 400;
  vertical-align: middle;
}

.modal-basket h2::before {
  content: "";

  position: absolute;
  top: 38px;
  left: 70px;
  width: 66px;
  height: 66px;

  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -264px -221px;
}

.modal-button {
  height: 112px;
  padding-top: 37px;

  text-align: center;

  background-color: #f1f1f1;
}

.modal-button .button {
  width: 220px;
}

.button-buy {
  margin-left: 20px;

  color: #000000;

  background-color: #ffffff;
}

.button-buy:hover {
  background-color: #e7e5e5;
}

.button-buy:active {
  background-color: #dfdede;
}

.modal-close {
  position: absolute;
  top: 16px;
  right: 9px;
  z-index: 4;

  width: 21px;
  height: 21px;

  font-size: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 9px;
  right: -2px;

  width: 26px;
  height: 4px;

  background-color: #ee3643;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
      transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
}

.modal-show {
  display: block;

  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-1900px);
            transform: translateY(-1900px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-1900px);
            transform: translateY(-1900px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
